
<div class="container">
	<div id="container-a">
		<div class="text-center">
			<h1>Summary</h1>
		</div>
		<br>
		<hr>

		<div class="row text-center">
			<h3>Current Balance: RM <%= @current_balance %></h3>
			<div class="col-md-8 col-md-offset-2">
				<div class="progress">			
					<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow=<%= @financial_progress %> aria-valuemin="0" aria-valuemax="100" style="width:<%= @financial_progress %>%">
		  				<%= @financial_progress.round %>%
		  			</div>
				</div>	  		
			</div>
		</div>
	</div>	
	<br>
	<hr>



	<div class="row">
		<div class="col-md-4">			
			<div class="panel-body box box-1">
				<div class="text-center">
					<h2 id="word">ROI: <%= @fixed_deposit_roi.round(2) %> %</h2>
				</div>
				<div class="col-md-4 column column-1 pull-left"><br>
					<i class="fa fa-university fa-5x" aria-hidden="true"></i>
					<div class="text-center"><br>
						<h4>Fixed Deposit</h4>
					</div>					
				</div>
			</div>
		</div>		

		<div class="col-md-4">
			<div class="panel-body box box-2">
				<div class="text-center">
					<h2 id="word">ROI: <%= @unit_trust_roi.round(2) %> %</h2>
				</div>
				<div class="col-md-4 column column-2"><br>
					<i class="fa fa-home fa-5x" aria-hidden="true"></i>
					<div class="text-center"><br>
						<h4>Unit Trust</h4>
					</div>					
				</div>
			</div>			
		</div>

		<div class="col-md-4">
			<div class="panel-body box box-3">
				<div class="text-center">
					<h2 id="word">ROI: <%= @stock_market_roi.round(2) %> %</h2>
				</div>
				<div class="col-md-4 column column-3"><br>
					<i class="fa fa-line-chart fa-5x" aria-hidden="true"></i>
					<div class="text-center"><br>
						<h4>Stock</h4>
					</div>					
				</div>
			</div>
		</div>
	</div>	
	
	<br>
	<hr>

	<div class="row">
		<div class="col-md-6 text-center">
			<h3>Earning By Games</h3>
			<%= bar_chart @activity_earnings %>			
		</div>

		<div class="col-md-6 text-center">
			<h3>Amount of Investment by Game</h3>
			<%= pie_chart({"FixedDeposit" => @fd_investments, 
							"UnitTrust" => @ut_investments, 
							"StockMarket" => @sm_investments}) %>
		</div>
	</div>	
</div>



