<%= form_for :session, url: session_path, remote: true do |form| %>
  <div class="text-field">
    <%= form.text_field :email, type: 'email', placeholder: "Email address" %>
  </div>

  <div class="password-field">
    <%= form.password_field :password, placeholder: "Password" %>
  </div>

  <div class="submit-field">
    <%= form.submit "Continue with your Progress" %>
  </div>

  <div class="other-links">
    <button class="loginBtn loginBtn-facebook">
      <a href="/auth/facebook">Continue with Facebook</a>
    </button>
    <button class="loginBtn loginBtn-google">
      <a href="/auth/google_oauth2">Continue with Google</a>
    </button>
    <br>
    <button type="button" class="btn btn-link" id="sign-up-email">Sign Up with email instead</button><br>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
