<div class="sign-up-questions">
	<%= form_for @user, id: "edit-user-form" do |form| %>
		<div id="nickname-question">
			<p>How shall we address you?</p>
			<%= form.text_field :nickname, id: "nickname-input" %>
			<button type="button" class="btn btn-link" id="sign-up-continue">></button>
		</div>
		<div id="birthday-question">
			<p>When is your birthday?</p>
			<%= form.date_field :birthday, id: "birthday-input" %>
			<button type="button" class="btn btn-link" id="sign-up-continue-2">></button>
		</div>
		<div id="financial-goal-question">
			<p>Reconfirm your financial goal.</p>
			<input type="text" id="financial-goal-input" name="profile[financial_goal]" value="RM <%= @profile.financial_goal %>">
			<br>
			<%= form.submit "start" %>		
		</div>
	<% end %>
</div>