<div class="container">
  <div class="row"> 
    <div class="jumbotron text-center">
      <h1>Fixed Deposit</h1> 
    </div>
  </div>  

  <!-- Carousel -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1">      
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>      
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag("FD1.JPG") %>
          </div>

          <div class="item">
            <%= image_tag("FD2.JPG") %>
          </div>

          <div class="item">
            <%= image_tag("FD3.JPG") %>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="text-center">
      <h2><strong>Please Choose Your Fixed Deposit Plan</strong></h2>
    </div>
  </div>
  <br>
  

  <div class="row">
    <!-- 3 Months -->    
    <div class="col-md-4" id="3months">
      <div class="panel panel-default preview">
        <div class="panel-heading">            
          <img src=<%= asset_path '3months.png' %> alt="3 Months" class="img-rounded" width="328px">            
        </div>
        <div class="panel-body text-center">
          <h2>Rate : <span></span>%</h2>
        </div>
      </div>
    </div>
    

    <!-- 6 Months -->    
    <div class="col-md-4" id="6months">
      <div class="panel panel-default preview">
        <div class="panel-heading">            
          <img src=<%= asset_path '6months.png' %> alt="6 Months" class="img-rounded" width="328px">            
        </div>
        <div class="panel-body text-center">
          <h2>Rate : <span></span>%</h2>
        </div>
      </div>
    </div>
  

    <!-- 9 Months -->    
    <div class="col-md-4" d="9months">
      <div class="panel panel-default preview">
        <div class="panel-heading">            
          <img src=<%= asset_path '9months.png' %> alt="9 Months" class="img-rounded" width="328px">                 
        </div>
        <div class="panel-body text-center">
          <h2>Rate : <span></span>%</h2>
        </div>
      </div>
    </div>    
  </div>




 <div id="status">
   <p>Current Balance : <span id="start_balance"><%= current_user_active_profile.current_balance %></span></p>
   <p>Amount Placed : <span id="amount_placed">0</span></p>
   <p>Interest Rate : <span id="interest_rate">0</span>%</p>
   <p>Profit Earned : <span id="profit">0</span></p>
 </div>

	<div class="form-group">
      <input type="hidden" id="user_profile" user-id="<%= get_current_user_profile_path %>">
      <input id="user_amount" type="number" min="1" max="<%= current_user_active_profile.current_balance %>" autocomplete="off" placeholder="0.00"/>
      <button id="place" class="btn btn-primary">Place Deposit</button>
      <button id="withdraw" class="btn btn-danger">Uplift Deposit</button>
  </div>

  
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;"></div>
  </div>
  



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){

    var progress = null;
    var progressbar = 0;

    $interestRate = 0;
    $progressRate = 0;
    $startAmount = 0;
    $endAmount = 0;
    $months = 0;

    $('#place').attr('disabled', 'true');
    $('#withdraw').attr('disabled', 'true');
    $('#user_amount').removeAttr('disabled');

    $('#user_amount').on('input change blur', function(){
      var startBalance = Number($('#start_balance').text());
      var placementAmount = $('#user_amount').val();
      if (placementAmount > startBalance || placementAmount == 0 || $interestRate == 0){
        $('#place').attr('disabled', 'true');
      }else{
        $('#place').removeAttr('disabled');
      }
    });
      
    $('#3months').click(function(){
      $progressRate = 150;
      $interestRate = $rate1;
      $months = 3;
      $(this).css("border", "1px red solid");
      $('#6months').css("border", "");
      $('#9months').css("border", "");
      if ($('user_amount').val() != 0 && progressbar == 0){
        $('#place').removeAttr('disabled');
      }
    })

    $('#6months').click(function(){
      $progressRate = 300;
      $interestRate = $rate2;
      $months = 6;
      $(this).css("border", "1px red solid");
      $('#3months').css("border", "");
      $('#9months').css("border", "");
      if ($('user_amount').val() != 0 && progressbar == 0){
        $('#place').removeAttr('disabled');
      }
    })

    $('#9months').click(function(){
      $progressRate = 450;
      $interestRate = $rate3;
      $months = 9;
      $(this).css("border", "1px red solid");
      $('#3months').css("border", "");
      $('#6months').css("border", "");
      if ($('user_amount').val() != 0 && progressbar == 0){
        $('#place').removeAttr('disabled');
      }
    })


    function refreshRates(){
      $.ajax({
        method: "post",
        url: "/refresh_fd_rates",
        beforeSend: function(xhr){xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        dataType: "json",
        success: function(data){
          $('#3months span').text(data[0]);
          $('#6months span').text(data[1]);
          $('#9months span').text(data[2]);
          $rate1 = data[0]
          $rate2 = data[1]
          $rate3 = data[2]
        }
      });
    }

    function saveGame(startAmount, endAmount, months, profit){
      $.ajax({
        method: "post",
        url: "/transactions",
        beforeSend: function(xhr){xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {
          transaction: {
            game_id: "1",
            start_amount: startAmount,
            end_amount: endAmount,
            months: months
            }
        }
      });
    }

    function update_user_profile(profit){
      $.ajax({
        method: "post",
        url: $("#user_profile").attr("user-id"),
        beforeSend: function(xhr){xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: { _method: 'PUT', current_balance: profit },
        success: function(){
          $('.form-group').append('<span id="msg" style="color:red;"> *Successfully uplifted</span>');
          setTimeout(function(){$("#msg").remove()},3000);
        }
      });
    }

    refreshRates();

<<<<<<< HEAD
    $('#stop').click(function(){
      clearInterval(progress);
      clearInterval(timer);
    });
   
=======
    $('#place').click(function(){

      $('#withdraw').removeAttr('disabled');
      $('#place').attr('disabled', 'true');
      $('#user_amount').attr('disabled', 'true');

      var startBalance = Number($('#start_balance').text());
      var placementAmount = $('#user_amount').val();
      $startAmount = placementAmount;
      var updateStartBalance = (startBalance - placementAmount).toFixed(2);
      $('#start_balance').text(updateStartBalance);
      $('#interest_rate').text($interestRate);
      $('#amount_placed').text(placementAmount);
      progress = setInterval(function(){
        progressbar += 100/$progressRate;
        if (progressbar > 2){
          $('.progress-bar').attr("aria-valuenow", progressbar);
          $('.progress-bar').text(Math.floor(progressbar)+"%");
          $('.progress-bar').attr("style", "width:"+progressbar+"%");
        }
        
        if (progressbar >= 100){
          $('#withdraw').removeClass("btn-danger")
          $('#withdraw').addClass("btn-success")
          clearInterval(progress);
          var profit = (placementAmount * (1 + $interestRate/100)).toFixed(4);
          $('#profit').text(profit);
          refreshRates();
        }
      },100)      

    });

    $('#withdraw').click(function(){
      clearInterval(progress);
      var startBalance = Number($('#start_balance').text());
      if (progressbar < 100){
        var placementAmount = Number($('#amount_placed').text());
        var updateStartBalance = (startBalance + placementAmount).toFixed(2);
        $('#start_balance').text(updateStartBalance);
        $endAmount = $startAmount
      }else{
        var profitEarned = Number($('#profit').text());
        $endAmount = profitEarned;
        var newBalance = (startBalance + profitEarned).toFixed(2);
        $('#start_balance').text(newBalance);
      }
      progressbar = 0;
      $interestRate = 0;      
      $('#profit').text(0);
      $('#amount_placed').text(0);
      $('#interest_rate').text(0);
      $('#user_amount').val("");
      $('.progress-bar').text(progressbar+"%");
      $('.progress-bar').attr("style", "width:"+progressbar+"%");
      $('#user_amount').removeAttr('disabled');
      $('#withdraw').attr('disabled', 'true');
      $('#place').attr('disabled', 'true');
      $('#withdraw').removeClass('btn-success');
      $('#withdraw').addClass('btn-danger');
      $('#3months').css("border", "");
      $('#6months').css("border", "");
      $('#9months').css("border", "");
      $profit = ($endAmount - $startAmount).toFixed(2);
      saveGame($startAmount, $endAmount, $months);
      update_user_profile($profit);
      $startAmount = 0;
      $endAmount = 0;
      $months = 0;
      $profit = 0;

    });

>>>>>>> master
    
  });
</script>


    <br>

<div class="panel panel-default">
  <div class="panel-body">
    <strong>Investment Overview:</strong><br>
    <p>
    You have invested RM 1000 in an FD account with a rate of 3.05% p.a. with tenure of 3 months<br>
    <br>
    <strong>Investment Gain:</strong><br>
    <p>
    At the end of the maturity you receive RM 1018 for your investment.<br>
    <br>   
    </p>
  </div>
</div>  

  <h3>
    <strong>Investment Overview:</strong><br>
    Funds available: RM <strong>1000</strong> <br>
    Interest gained at end of maturity: 1.8%<br>
    <br>

    <strong>Investment Summary:</strong><br>
    Total value of investment: RM <strong>1018</strong> <br>
    Annualized rate of return <strong>4.25%</strong> <br>
  </h3>


</div>