<div class="backgroud">
	<div class="container">
		<div class="row">
			<div class="text-center title">
				<h3>Financial Plan</h3>
				<p>Financail Goal:</p>
				<p>Current Balance:</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<%= link_to fixed_deposit_path, class: "preview" do %>
					<div class="panel panel-default">					
						<div class="panel-heading">
							<img src=<%= asset_path 'fixeddeposit.jpg' %> alt="Fixed Deposit" class="img-thumbnail">
						</div>
						<div class="panel-body text-center">
							<h3>Fixed Deposit</h3>
						</div>
					</div>
				<% end %>
			</div>
			<div class="col-md-4">
				<%= link_to unit_trust_path, class: "preview" do %>
					<div class="panel panel-default ">
						<div class="panel-heading">
							<img src=<%= asset_path 'unittrust.png' %> alt="Unit Trust" class="img-thumbnail">
						</div>
						<div class="panel-body text-center">
							<p>Unit Trust</p>
						</div>
					</div>
				<% end %>
			</div>
			<div class="col-md-4">
				<%= link_to stock_market_path, class: "preview" do %>
					<div class="panel panel-default">
						<div class="panel-heading">
							<img src=<%= asset_path 'stock.png' %> alt="Fixed Deposit" class="img-thumbnail" >
						</div>
						<div class="panel-body text-center">
							<p>Stock</p>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4" style="padding-left:130px">
				<label>Money: 
					<i class="fa fa-usd" aria-hidden="true"></i>
					<i class="fa fa-usd" aria-hidden="true"></i>
				</label><br>
				<label>Time: 
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					<i class="fa fa-clock-o" aria-hidden="true"></i>	
					<i class="fa fa-clock-o" aria-hidden="true"></i>
				</label><br>
				<label>Risk: 
					<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>	
				</label><br>			
			</div>
			<div class="col-md-4" style="padding-left:130px">
				<label>Money: 
					<i class="fa fa-usd" aria-hidden="true"></i>
					<i class="fa fa-usd" aria-hidden="true"></i>
					<i class="fa fa-usd" aria-hidden="true"></i>
				</label><br>
				<label>Time: 
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					<i class="fa fa-clock-o" aria-hidden="true"></i>	
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					<i class="fa fa-clock-o" aria-hidden="true"></i>
				</label><br>
				<label>Risk: 
					<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
					<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>	
					<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>		
				</label><br>
			</div>
			<div class="col-md-4" style="padding-left:130px">
				<label>Money: 
					<i class="fa fa-usd" aria-hidden="true"></i>
					<i class="fa fa-usd" aria-hidden="true"></i>
					<i class="fa fa-usd" aria-hidden="true"></i>
					<i class="fa fa-usd" aria-hidden="true"></i>
					<i class="fa fa-usd" aria-hidden="true"></i>
				</label><br>
				<label>Time: 
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					<i class="fa fa-clock-o" aria-hidden="true"></i>					
				</label><br>
				<label>Risk: 
					<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
					<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>	
					<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>	
					<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>	
					<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>		
				</label><br>			
				
			</div>
		</div>

	</div>
</div>



