<div class="container">
  <div class="row"> 
    <div class="jumbotron text-center">
      <h1>Unit Trust</h1> 
    </div>
  </div>
  

  <!-- Carousel -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1">  
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag("UT1.JPG") %>
          </div>

          <div class="item">
            <%= image_tag("UT2.JPG") %>
          </div>
        </div>


        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div> 
  <hr> 

  <div class="row">
    <div class="text-center">
      <h2><strong>Please Choose Your Unit Trust Fund</strong></h2>
    </div>
  </div>
  <br>

  <div class="row">
    <!-- Fund A -->
    <a href ="#">
      <div class="col-md-4">
        <div class="panel panel-default preview">
          <div class="panel-heading">            
            <img src=<%= asset_path 'A.png' %> alt="Fund A" class="img-rounded" width="328px">            
          </div>
          <div class="panel-body text-center">
            <h3> Potential Yield: 3% - 5% </h3>
            <h3> Current NAV: RM 0.90 </h3>
          </div>
        </div>
      </div>
    </a>

    <!-- Fund B -->
    <a href ="#">
      <div class="col-md-4">
        <div class="panel panel-default preview">
          <div class="panel-heading">            
            <img src=<%= asset_path 'B.png' %> alt="Fund B" class="img-rounded" width="328px">            
          </div>
          <div class="panel-body text-center">
            <h3> Potential Yield: 4% - 8% </h3>
            <h3> Current NAV: RM 0.30 </h3>
          </div>
        </div>
      </div>
    </a>

    <!-- Fund C -->
    <a href ="#">
      <div class="col-md-4">
        <div class="panel panel-default preview">
          <div class="panel-heading">            
            <img src=<%= asset_path 'C.png' %> alt="Fund C" class="img-rounded" width="328px">                 
          </div>
          <div class="panel-body text-center">
            <h3> Potential Yield: 5% - 10% </h3>
            <h3> Current NAV: RM 0.25 </h3>
          </div>
        </div>
      </div>
    </a>
  </div>



	<div class="form-group">
       <input type="integer">
       <input type="submit" value="Deposit">
    </div>
      <div class="form-group">
        <input type="submit" value="Progress Bar">
        <input type="submit" value="Re-invest">
        <input type="submit" value="Sell">
      </div>
    <br>
  

  <h3>
    <strong>Investment Overview:</strong><br>
    Funds available: RM <strong>1000</strong> <br>
    Funds actually invested: RM <strong>950</strong><br>
    Initial Investment: <strong>3619.61</strong> units <br>
    <br>

    <strong>Current Value</strong><br>
    New nav price is now: <strong>0.1838</strong> <br>
    <br>
    <strong>What would you like to do?</strong><br>

    <strong>Investment Summary:</strong><br>
    Total value of investment: RM <strong>681.89</strong> <br>
    Annualized rate of return <strong>-31.81%</strong> <br>
  </h3>



    <strong>Gains From Investment:</strong><br>
    Dividend announce is: <strong>0.0246</strong> <br>
    With the dividend obtained, total units now is: <strong>3708.87</strong> <br>
    <br>
</div>