<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="logo-nav">
    <a href="#" id="logo-nav">
      <div id="wrap-nav">
        <div id="left-lg">ou</div>
        <div id="mid-lg">RM</div>
        <div id="right-lg">oney</div>
      </div>
    </a>
  </div>
  <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
  <%= link_to "Home", games_path %>
  <a id="financial_product">Financial Product</a>
  <div id="nav_dropdown" style="display:none">
	  <%= link_to "Fixed Deposit", game_path("fixed_deposit") %>
	  <%= link_to "Unit Trust", game_path("unit_trust") %>
	  <%= link_to "Stock", game_path("stock") %>
  </div>
  <%= link_to "Summary", profile_path(current_user.id) %>
  <%= link_to "Sign Out", sign_out_path, method: :delete %>
</div>

<div onclick="openNav()" id="open-navbar-button">></div>

<script>
	$('#financial_product').click(function(){
		$('#nav_dropdown').toggle("slow");
	})

</script>