<!DOCTYPE html>
<html>
<head>
  <title>FinSchool</title>

  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <%= csrf_meta_tag %>

  <link href="/app/favicon.ico" rel="icon" type="image/x-icon" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

   <meta name="viewport" content="width=device-width, initial-scale=1.0">

  

  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>



  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">


</head>
<body class="container-fluid">
  <div id="header">
    <% if signed_in? -%>
      <%= link_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
    <% end -%>
  </div>

  <div id="flashes">
    <%= render 'layouts/flashes' %>
  </div>

  <%= yield %>

    <br>
    <br>
   <%= link_to t("Fixed Deposit"), game_path("fixed_deposit") %><br>
   <%= link_to t("Unit Trust"), game_path("unit_trust") %><br>
   <%= link_to t("Stock Market"), game_path("stock") %><br>
</body>
</html>
