<!DOCTYPE html>
<html>
<head>
  <title>FinSchool</title>

  <link href="/app/favicon.ico" rel="icon" type="image/x-icon" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

   <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Raleway" rel="stylesheet">
    <!--Required additions for chartkick -->
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>

</head>
<body>
  <div class="container-fluid" id="summary-container">
    <div id="main">
      <% if signed_in? %>
        <%= render 'layouts/navbar' %>
      <% end %>
    
      <div id="flashes">
        <%= render 'layouts/flashes' %>
      </div>
      <%= yield %>
    </div>
  </div>
</body>
</html>
